{% extends "admin/auth/user/change_password.html" %}

{% block extrahead %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const unset_password = document.getElementsByClassName('unset-password')[0]
            const form_row = document.getElementsByClassName('form-row')[0]

            if (unset_password)
                unset_password.remove()

            if (form_row)
                form_row.remove()
        })
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
{% endblock %}
